<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/">Administração</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/categorias/">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Outros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Postagens</a>
  </li>
</ul>